<div class="donations">
  <table>
    <tr>
      <th>Charity</th>
      <th>Item</th>
    </tr>
    <tr>
      <td>Heads-Up Guidance Services</td>
      <td>Kleenex Tissue</td>
    </tr>
    <tr>
      <td>Coastal Pet Rescue</td>
      <td>Blankets and/or towels</td>
    </tr>
    <tr>
      <td>Loop It Up Savannah</td>
      <td>Plastic Table Clothes</td>
    </tr>
    <tr>
      <td>Emmaus House</td>
      <td>Styrofoam Coffee Cups (Prefer 8oz)</td>
    </tr>
    <tr>
      <td>Union Mission</td>
      <td>Toiletries (Travel or full-sized)</td>
    </tr>
    <tr>
      <td>Girls on the Run of Coastal Georgia and Low Country</td>
      <td>Washable markers (thin sized)</td>
    </tr>
    <tr>
      <td>Luthern Services of GA & Shelter from the Rain Inc.</td>
      <td>Baby Wipes</td>
    </tr>
    <tr>
      <td>Coastal Children's Centers of Savannah, Inc.</td>
      <td>Blank CDs</td>
    </tr>
    <tr>
      <td>Wesley Community Centers of Savannah, Inc.</td>
      <td>Women's sanitary items</td>
    </tr>
    <tr>
      <td>Senior Citizens, Inc.</td>
      <td>Pet food or treats (for dogs and cats)</td>
    </tr>
    <tr>
      <td>Build a Bridge Foundation of Georgia</td>
      <td>Pens or crayons</td>
    </tr>
    <tr>
      <td>Park Place Outreach</td>
      <td>Paper towels or Clorox wipes</td>
    </tr>
  </table>
</div>