<div class="grid-x footer">
  <div class="cell large-8 medium-6 text-center footer-header">
    <h1>
      <span class="h1-pre">Spread</span>
      <span class="h1-suffix">the word</span>
    </h1>
  </div>
  <div class="cell large-4 medium-6 grid-x text-center soc-media">
    <div class="small-4">
      <a href="https://www.facebook.com/elfontherunSAV">
      <div class="soc-icon"><img src="/images/facebook.svg" alt="facebook link"></div>
        </a>
    </div>
    <div class="small-4">
      <a href="https://www.instagram.com/elfontherunsav">
        <div class="soc-icon"><img src="/images/instagram.svg" alt=" instagram link"></div>
      </a>
    </div>
    <div class="small-4">
      <a href="mailto:elfontherunsav@gmail.com">
        <div class="soc-icon"><img src="/images/email.svg" alt="email link"></div>
      </a>
    </div>
  </div>
</div>