
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.title }} - {{ site.name }}" />
<meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:300|Roboto|Sacramento" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/foundation.min.css">
<link rel="stylesheet" href="/styles/app.css">



<style>
    .no-js .top-bar {
        display: none;
    }
    .no-js .top-bar-right {
        display: none;
    }


    @media screen and (min-width: 40em) {
        .no-js .top-bar {
            display: block;
        }

        .no-js .title-bar {
            display: none;
        }
    }
</style>

<!-- <link rel="shortcut icon" href="favicon.ico"> -->