<header id="header" class="topbar-sticky-shrink-header align-center">
  <img src="images/Elf_cover2.jpg">
</header>

<div data-sticky-container>
    <div data-sticky data-margin-top='0' data-top-anchor="header:bottom">

      <div class="top-bar topbar-sticky-shrink">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#">About</a>
              <ul class="menu">
                <li><a href="#">Mission</a></li>
                <li><a href="#">History</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Get Involved</a>
              <ul class="menu">
                <li><a href="#">Volunteer</a></li>
                <li><a href="#">Donate</a></li>
                <li><a href="#">Make a new chapter</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Partner</a>
              <ul class="menu">
                <li><a href="#">Non-profit partners</a></li>
                <li><a href="#">Sponsor</a></li>
                <li><a href="#">Donation dropoff site</a></li>
                <li><a href="#">Apply for grant</a></li>
              </ul>
            </li>
            <li><a href="#">Impact</a></li>
            <li><a href="#">Events</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
            <button type="button" class="button">Donate</button>
        </div>
      </div>
    </div>
</div>