<div data-sticky-container>
  <div data-sticky data-margin-top='0'>
    <div class="title-bar" data-responsive-toggle="nav-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="nav-menu"></button>
      <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar topbar-sticky" id="nav-menu" data-animate="slide-in-down slide-out-up">
      <a href="/index.html">
        <img class="coin" src="/images/elfCoin.svg">
      </a>
      <div class="top-bar-left">
        <ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
          <li>
            <a href="/about.html">About</a>
            
          </li>
          <li>
            <a href="/get-involved.html">Get Involved</a>
          </li>
          <li>
            <a href="/partner.html">Partner</a>
            <ul class="vertical menu">
              <li>
                <a href="/partner/xmas-in-july.html">Christmas in July Grants</a>
            </ul>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <button type="button" class="button">Donate</button>
      </div>
    </div>
  </div>
</div>