<header id="header" class="topbar-sticky-shrink-header align-center">
  <img src="/images/Elf_cover2.jpg">
</header>

<div data-sticky-container>
    <div data-sticky data-margin-top='0' data-top-anchor="header:bottom">

      <div class="top-bar topbar-sticky-shrink">
        <div class="top-bar-left">
          <ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
            <li>
              <a href="#">About</a>
              <ul class="vertical menu">
                <li><a href="/about/mission.html">Mission</a></li>
                <li><a href="/about/history.html">History</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Get Involved</a>
              <ul class="vertical menu">
                <li><a href="/get-involved/volunteer.html">Volunteer</a></li>
                <li><a href="/get-involved/donate.html">Donate</a></li>
                <li><a href="/get-involved/make-chapter.html">Make a new chapter</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Partner</a>
              <ul class="vertical menu">
                <li><a href="/partner/non-profit.html">Non-profit partners</a></li>
                <li><a href="/partner/sponsor.html">Sponsor</a></li>
                <li><a href="/partner/dropoff.html">Donation dropoff site</a></li>
                <li><a href="/partner/grants.html">Apply for grant</a></li>
              </ul>
            </li>
            <li><a href="/impact.html">Impact</a></li>
            <li><a href="/events.html">Events</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
            <button type="button" class="button">Donate</button>
        </div>
      </div>
    </div>
</div>