<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  {%include head.html%}
<body>
  
  {%include header.html%}
<div class="grid-container">
  <div class="grid-x grid-padding-x"> <!-- content wrapper -->
    <div class="cell text-center">
      <img src="/images/santaSign.svg">
    </div>
    <div class="cell text-center about">
      <h1>
        <span class="h1-pre">About</span>
        <span class="h1-suffix">Elf on the Run</span>
      </h1>
      <p>What started as a small idea on a run five years ago has snowballed into a group of over 250 people coming together for an event called Elf on the Run. Spearheaded by the Head Elf, Victoria Ten Broeck, the group helps spread holiday cheer to local charities through a combination of donations and service.</p>
 
      <p>Every year, Elf on the Run serves the Savannah area in 12 jolly ways to make the season brighter by collecting items for various local charities and coming together in service for our neighbors.</p>
    </div>
    <div class="cell medium-6 text-center about-mission">
      <h1>
        <span class="h1-pre">Elf</span>
        <span class="h1-suffix"> mission</span>
      </h1>
      <p>Making community engagement on a local level fun</p>
    </div>
    <div class="cell medium-6 text-center about-vision">
      <h1>
        <span class="h1-pre">Elf</span>
        <span class="h1-suffix">vision</span>
      </h1>
        <p>Mobilizing the power of volunteers and the generosity of local businesses to build sustainable change</p>
    </div>
  </div> <!-- content wrapper-->

      <div class="cell text-center get-involved grid-x">

      <div class="cell" id="how-help">
        <h1>
          <span class="h1-pre">How</span>
          <span class="h1-suffix">you can help</span>
        </h1>
      </div>

      <div class="cell small-4" id="about--link-container1">
        <a href="/get-involved.html#get-involved">
          <img src="/images/mitten.svg" alt="join link icon" class="get-involved--link-icon">
        </a>
        <h4>Lend a Helping Hand</h4>
      </div>
      <div class="cell small-4" id="about--link-container2">
        <a href="https://airtable.com/embed/shrTM2InnIvxGewSK?backgroundColor=yellow">
          <img src="/images/stocking.svg" alt="become an elf collection site link icon" class="get-involved--link-icon">
        </a>
        <h4>Become an Elf Collection Site</h4>
      </div>
      <div class="cell small-4" id="about--link-container3">
        <a href="https://secure.qgiv.com/for/eotr">
          <img src="/images/mug.svg" alt="share the holiday spirit link icon" class="get-involved--link-icon">
        </a>
        <h4>Share the holiday spirit</h4>
      </div>
    </div>
  </div>
  {%include footer.html%}

  {%include footer-scripts.html%}

</body>

</html>