<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  {%include head.html%}
<body>
  
  {%include header.html%}

  <div class="grid-x grid-padding-x"> <!-- content wrapper -->
    <div class="cell text-center">
      <img src="/images/santaSign.svg">
    </div>
    <div class="cell text-center about">
      <h1>
        <span class="h1-pre">About</span>
        <span class="h1-suffix">Elf on the Run</span>
      </h1>
      <p>Et adipisicing anim incididunt ut occaecat ad et do ad non ex excepteur. Quis veniam veniam fugiat voluptate velit excepteur enim laborum deserunt officia cupidatat voluptate aute. Adipisicing velit id ipsum reprehenderit sunt ad incididunt in cillum eu elit officia voluptate. Labore ex sit enim enim proident pariatur non cupidatat officia enim officia dolor. </p>

      <p>Anim pariatur Lorem sunt ipsum voluptate Lorem aute tempor nisi commodo duis reprehenderit. Duis voluptate ex proident consequat eu nostrud. Commodo ea nisi exercitation labore sunt. Consectetur consequat irure est dolore excepteur tempor nostrud. Ullamco in culpa dolor irure enim amet laborum irure. Et eiusmod qui qui veniam. Et enim occaecat irure quis ex sit culpa.</p>
    </div>
    <div class="cell medium-6 text-center about-mission">
      <h1>
        <span class="h1-pre">Elf</span>
        <span class="h1-suffix"> mission</span>
      </h1>
      <p>Anim pariatur Lorem sunt ipsum voluptate Lorem aute tempor nisi commodo duis reprehenderit. Duis voluptate ex proident consequat eu nostrud. Commodo ea nisi exercitation labore sunt. Consectetur consequat irure est dolore excepteur tempor nostrud.</p>
    </div>
    <div class="cell medium-6 text-center about-vision">
      <h1>
        <span class="h1-pre">Elf</span>
        <span class="h1-suffix">vision</span>
      </h1>
        <p>Commodo ea nisi exercitation labore sunt. Consectetur consequat irure est dolore excepteur tempor nostrud. Ullamco in culpa dolor irure enim amet laborum irure. Et eiusmod qui qui veniam. Et enim occaecat irure quis ex sit culpa.</p>
    </div>
  </div> <!-- content wrapper-->

  {%include footer.html%}

  {%include footer-scripts.html%}

</body>

</html>