<!doctype html>
<html class="no-js" lang="en" dir="ltr">
{%include head.html%}

<body>

  {%include header.html%}
<div class="grid-container">
  <!-- volunteer, donate, drop-off site -->

  <div class="grid-x grid-margin-x">
    <div class="cell text-center ">
      <img src="/images/santaWelcoming.svg">
    </div>
    <div class="cell text-center get-involved-get-involved">

      <h1>
        <span class="h1-pre">Get</span>
        <span class="h1-suffix">involved</span>
      </h1>
      <p>Spreading cheer throughout the year! Holiday help has the power to create year-round impact - whether you’re collecting
        items for one of our local charities, helping at a day of service project, or generously donating to our Christmas
        in July grant fund, you are making a real difference in your community.</p>
      <a name="get-involved"></a>
    </div>

    <div class="cell grid-y medium-4 text-center volunteer">

      <h1>
        <span class="h1-pre">Volunteer</span>
      </h1>
      <div class="card">
        <div class="card-section">
          <p>Become one of Santa’s Helpers! Sign up online and get updated volunteer opportunities delivered right to your inbox.</p>
          <h2>
            <button class="body-link false-link" onclick="toggleModal()">Sign up here</button>
          </h2>
        </div>
      </div>
    </div>
    <div class="cell grid-y medium-4 text-center donate">
      <h1>
        <span class="h1-pre">Donate</span>
      </h1>
      <div class="card">
        <div class="card-section">
          <p>Your generous gift helps move our mission forward! Give today and help support local charities creating real change
            in our community.
            <p>
              <p>
                <h2 class="body-link false-link" href="" onclick="toggleModal()">Give Now</h2>
              </p>
        </div>
      </div>
    </div>
    <div class="cell grid-y medium-4 text-center drop-off">
      <h1>
        <span class="h1-pre">Become</span>
        <span class="h1-suffix">a drop-off location</span>
      </h1>
      <div class="card">
        <div class="card-section">
          <p>Santa’s elves need help to make the holidays bright! You can host an Elf on the Run drop-off location at your business
            and be part of creating a more engaged community.</p>
          <p>
            <h2 class="body-link false-link" onclick="toggleModal()">Start Here</h2>
          </p>
        </div>
      </div>
    </div>
    <div class="cell text-center testimonial-header">
        <h2>Local business partners make the difference!</h2>
    </div>
    <div class="grid-x align-middle">
      <div class="cell medium-8">
        <div class="testimonial">
          <p>“After many years of supporting a non-profit organization on a corporate level for a holiday project, Sterling
            Seacrest Partners decided to support Elf on the Run and had a huge success.  Supporting 12 different organizations
            through Elf on the Run allowed everyone to find an organization that they could connect with on a personal level
            which resulted in a huge outpouring of support from the entire company.  We would never be able to support so
            many various organizations due to coordination efforts but Elf on the Run made donating effortless and fun!”</p>
        </div>
      </div>

      <div class="cell medium-4 testimonial-logo text-center">
        <img src="/images/sterlingseacrest.png" alt="Sterling-Seacrest logo">
      </div>

    </div>
  </div>
</div>
  {%include footer.html%} {%include footer-scripts.html%}

</body>

</html>