<!doctype html>
<html class="no-js" lang="en" dir="ltr">
{%include head.html%}

<body>

  {%include header.html%}

  <!-- volunteer, donate, drop-off site -->

  <div class="grid-x">
    <div class="cell text-center">
      <img src="/images/santaWelcoming.svg">
    </div>
    <div class="cell text-center get-involved-get-involved">
      <h1>
        <span class="h1-pre">Get</span>
        <span class="h1-suffix">involved</span>
      </h1>
        <p>Et adipisicing anim incididunt ut occaecat ad et do ad non ex excepteur. Quis veniam veniam fugiat voluptate velitexcepteur enim laborum deserunt officia cupidatat voluptate aute. Adipisicing velit id ipsum reprehenderit sunt ad incididunt in cillum eu elit officia voluptate. Labore ex sit enim enim proident pariatur non cupidatat officia enim officia dolor.</p>
    </div>
    <div class="cell text-center volunteer">
      <h1>
        <span class="h1-pre">Volunteer</span>
      </h1>
      <p>Et adipisicing anim incididunt ut occaecat ad et do ad non ex excepteur. Quis veniam veniam fugiat voluptate velitexcepteur enim laborum deserunt officia cupidatat voluptate aute. Adipisicing velit id ipsum reprehenderit sunt ad incididunt in cillum eu elit officia voluptate. Labore ex sit enim enim proident pariatur non cupidatat officia enim officia dolor.</p>
    </div>
    <div class="cell text-center donate">
      <h1>
        <span class="h1-pre">Donate</span>
      </h1>
      <p>Et adipisicing anim incididunt ut occaecat ad et do ad non ex excepteur. Quis veniam veniam fugiat voluptate velitexcepteur enim laborum deserunt officia cupidatat voluptate aute. Adipisicing velit id ipsum reprehenderit sunt ad incididunt in cillum eu elit officia voluptate. Labore ex sit enim enim proident pariatur non cupidatat officia enim officia dolor.</p>
    </div>
    <div class="cell text-center drop-off">
      <h1>
        <span class="h1-pre">Become</span>
        <span class="h1-suffix">a drop-off location</span>
      </h1>
      <p>Et adipisicing anim incididunt ut occaecat ad et do ad non ex excepteur. Quis veniam veniam fugiat voluptate velitexcepteur enim laborum deserunt officia cupidatat voluptate aute. Adipisicing velit id ipsum reprehenderit sunt ad incididunt in cillum eu elit officia voluptate. Labore ex sit enim enim proident pariatur non cupidatat officia enim officia dolor.</p>
    </div>
  </div>

  {%include footer.html%} {%include footer-scripts.html%}

</body>

</html>