<!doctype html>
<html class="no-js" lang="en" dir="ltr">
{%include head.html%}

<body>

  {%include header.html%}
  <div id="marquee" class="grid-x">
    <canvas id="snow"></canvas>
  </div>
  <div class="grid-x">

    <div class="cell text-center">
      <h1 class="mission"><span class="mission-pre">Our</span> <span class="mission-suffix">Mission</span></h1>
      <h2 class="mission-sub">Making community engagement on a local level fun</h2>
    </div>
    <div class="cell text-center">
      <img src="/images/twinkleLights.gif" alt="twinkling Christmas lights">
    </div>
  </div>
  {%include footer.html%} {%include footer-scripts.html%}

</body>

</html>