<!doctype html>
<html class="no-js" lang="en" dir="ltr">
{%include head.html%}

<body>

  {%include header.html%}
  <!-- begin hero marquee-->
  <div id="marquee" class="grid-x">
    <canvas id="snow"></canvas>
  </div>
  <!-- end hero marquee-->
  <!-- begin main content-->
  <div class="grid-x">
    <!-- begin mission-->
    <div class="cell text-center">
      <h1 class="mission">
        <span class="mission-pre">Our</span>
        <span class="mission-suffix">Mission</span>
      </h1>
      <h2 class="mission-sub">Making community engagement on a local level fun</h2>
    </div>

    <div class="cell text-center twinkle-container">
      <img src="/images/twinkleLights.gif" alt="twinkling Christmas lights">
    </div>

    <!-- end mission -->
    <!-- begin get invovled -->

    <div class="cell text-center get-involved grid-x">
      <div class="cell">
        <h1>
          <span class="mission-pre">Get</span>
          <span class="mission-suffix">involved</span>
        </h1>
      </div>
      <div class="cell small-6 medium-3 get-involved--link-container">
        <a href="#">
          <img src="/images/mitten.svg" alt="join link icon" class="get-involved--link-icon">
        </a>
        <h2>Lend a Helping Hand</h2>
      </div>
      <div class="cell small-6 medium-3 get-involved--link-container">
        <a href="partner.html">
          <img src="/images/present.svg" alt="become a charity partner link icon" class="get-involved--link-icon">
        </a>
        <br>
        <br>
        <h2>Become a Charity Partner</h2>
      </div>
      <div class="cell small-6 medium-3 get-involved--link-container">
        <a href="get-involved.html#collection">
          <img src="/images/stocking.svg" alt="become an elf collection site link icon" class="get-involved--link-icon">
        </a>
        <h2>Become an Elf Collection Site</h2>
      </div>
      <div class="cell small-6 medium-3 get-involved--link-container">
        <a href="get-involved.html#share">
          <img src="/images/mug.svg" alt="share the holiday spirit link icon" class="get-involved--link-icon">
        </a>
        <h2>Share the holiday spirit</h2>
      </div>
    </div>

    <!-- end get invovled -->
    <!-- begin elves in action-->

    <div class="cell text-center elves-in-action grid-x">
      <div class="cell">
        <h1>
          <span class="mission-pre">Elves</span>
          <span class="mission-suffix">in action</span>
        </h1>
      </div>
      <div class="cell small-6 medium-3 -in-action-pic-container">
        <img src="/images/in-action-01.jpg" alt="elf in action">
      </div>
      <div class="cell small-6 medium-3">
        <h3>In 2017, Elves donated over 65,000 items to 12 local nonprofits</h3>
      </div>
      <div class="cell small-6 medium-3 -in-action-pic-container">
        <img src="/images/in-action-02.jpg" alt="elf in action">
      </div>
      <div class="cell small-6 medium-3">
        <h3>There were XX Elves working to spread holiday cheer across Savannah in 2017</h3>></div>
      <div class="cell small-6 medium-3">factoid</div>
      <div class="cell small-6 medium-3 -in-action-pic-container">
        <img src="/images/in-action-03.jpg" alt="elf in action">
      </div>
      <div class="cell small-6 medium-3">factoid</div>
      <div class="cell small-6 medium-3 -in-action-pic-container">
        <img src="/images/in-action-04.jpg" alt="elf in action">
      </div>
      <div class="cell small-6 medium-3 -in-action-pic-container">
        <img src="/images/in-action-05.jpg" alt="elf in action">
      </div>
      <div class="cell small-6 medium-3">factoid</div>
      <div class="cell small-6 medium-3 -in-action-pic-container">
        <img src="/images/in-action-06.jpg" alt="elf in action">
      </div>
      <div class="cell small-6 medium-3">factoid</div>
    </div>

    <!-- end elves in action-->
    <!-- begin upcoming events-->


  </div>
  </div>
  {%include footer.html%} {%include footer-scripts.html%}

</body>

</html>