<!doctype html>
<html class="no-js" lang="en" dir="ltr">
{%include head.html%}
<body>
  
  {%include header.html%}

<div class="grid-x grid-padding-x small-padding-collapse text-center">
  <div class="cell partner">
    <img src="/images/santaBanner.svg">
    <h1>
      <span class="h1-pre">Become</span>
      <span class="h1-suffix">a partner</span>
    </h1>
  </div>
  <div class="cell grid-x xmas-in-jul">
    <div class="cell medium-6" style="background-color: red">
      <h1>
        <span class="h1-pre">Christmas</span>
        <span class="h1-suffix">in July grant</span>
      </h1>
    </div>
    <div class="cell medium-6" style="background-color: green">content</div>
  </div>
  <div class="cell grid-x service-proj">
    <div class="cell medium-6" style="background-color: red">
      <h1>
        <span class="h1-pre">Holiday</span>
        <span class="h1-suffix">service project</span>
      </h1>
    </div>
    <div class="cell medium-6" style="background-color: green">content</div>
  </div>

</div>
  {%include footer.html%}

  {%include footer-scripts.html%}

</body>

</html>