<!doctype html>
<html class="no-js" lang="en" dir="ltr">
{%include head.html%}
<body>
  
  {%include header.html%}
  <div class="grid-container">

<div class="grid-x grid-margin-x  text-center">
  <div class="cell partner">
    <img src="/images/santaBanner.svg">
    <h1>
      <span class="h1-pre">Become</span>
      <span class="h1-suffix">a partner</span>
    </h1>
    <p>Elf on the Run is dedicated to capacity building for local non-profits. We offer service projects designed to meet local needs, using local business partners and volunteers to help underwrite and execute those projects. We also have a small grant program, Christmas in July, to extend that holiday help into year-round impact. Learn more by clicking the links below!</p>
  </div>
  
  <div class="cell grid-y medium-6 text-center xmas-in-jul">
    <h1>
      <span class="h1-pre">Christmas</span>
      <span class="h1-suffix">in July</span>
    </h1>
    <div class="card">
      <div class="card-section">
        <p>The Elves are coming to town and ready to spread holiday cheer with their Christmas in July FUNd to benefit Blessings in a Bookbag (BIBB).</p>
          <p><a class="body-link" href="https://secure.qgiv.com/for/eotr/event/791087/">Sign up online here</a>
          </p>
      </div>
    </div>
  </div>
  <div class="cell grid-y medium-6 text-center service-project">
    <h1>
      <span class="h1-pre">Holiday</span>
      <span class="h1-suffix">service project</span>
    </h1>
    <div class="card">
      <div class="card-section">
        <p>Each year, over 250 volunteers partner with local businesses to help collect and donate items needed by local charities to help serve neighbors in need. Elves also complete a holiday service project with one of their chosen charities. Want to be part of the holiday fun?</p>
        <p><a class="body-link" href="https://docs.google.com/forms/d/e/1FAIpQLSfgd3zdS2Ykf2r_a3-sSnIx3zMcnMaCJhFcoVeh6OWpcG7LSQ/viewform">Apply online</a></p>
      </div>
    </div>
  </div>
</div>
</div>
  {%include footer.html%}

  {%include footer-scripts.html%}

</body>

</html>