body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.title-bar {
  background-color: rgb(29, 155, 80);
}

.topbar-sticky-shrink {
  padding: 2rem;
  transition: padding 0.1s ease;
}

.is-stuck .topbar-sticky-shrink {
  padding: 0.25rem;
  transition: padding 0.1s ease;
}

.is-stuck .coin {
  width: 50px;
  height: 50px;
  transition: 0.1s ease;
}

[data-sticky] {
  width: 100%;
}

.topbar-sticky-shrink-header {
  text-align: center;
  padding: 1rem 0.25rem;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.top-bar,
.dropdown.menu {
  background-color: rgb(29, 155, 80);
}

a {
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 1.5em;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: #fff transparent transparent;
}

.drilldown .is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fff;
}

.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
  border-color: #fff transparent transparent;
}

.button {
  background-color: rgb(236, 33, 43);
  margin: 0;
}

.drilldown a {
  background: rgb(29, 155, 80);
}

.top-bar ul {
  background-color: rgb(29, 155, 80);
}

.drilldown .is-drilldown-submenu {
  background-color: rgb(29, 155, 80);
}

.no-js .top-bar {
  display: none;
}

.coin {
  width: 100px;
  height: 100px;
  transition: 0.25s ease;
}

.mini-coin {
  width: 40px;
  height: 40px;
}

#marquee {
  height: 400px;
  background: rgb(255, 48, 25);
  background: -moz-linear-gradient(top, rgb(255, 48, 25) 0%, rgb(207, 4, 4) 100%);
  background: -webkit-linear-gradient(top, rgb(255, 48, 25) 0%, rgb(207, 4, 4) 100%);
  background: linear-gradient(to bottom, rgb(255, 48, 25) 0%, rgb(207, 4, 4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0);
}

canvas{

    background-image: linear-gradient(bottom, rgb(255, 48, 25) 0%, rgb(207, 4, 4) 84%);
    background-image: -o-linear-gradient(bottom, rgb(255, 48, 25) 0%, rgb(207, 4, 4) 84%);
    background-image: -moz-linear-gradient(bottom, rgb(255, 48, 25) 0%, rgb(207, 4, 4) 84%);
    background-image: -webkit-linear-gradient(bottom, rgb(255, 48, 25) 0%, rgb(207, 4, 4) 84%);
    background-image: -ms-linear-gradient(bottom, rgb(255, 48, 25) 0%, rgb(207, 4, 4) 84%);
    
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(255, 48, 25)),
        color-stop(0.84, rgb(207, 4, 4))
    );
}
.twinkle-container {
  margin-bottom: 2em;
}

.mission {
    color: rgb(255, 48, 25);
  font-size: 8em;
}

.mission-pre {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.mission-suffix {
  font-family: Sacramento, cursive;
}

.mission-sub {
  color: #999;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 4em;
}

.get-involved {
  background-color: rgb(255,48,25);
  color: #fff;
  overflow: hidden;
  padding-bottom: 10px;
}

.get-involved h1, .elves-in-action h1 {
  font-size: 8em;
}

.get-involved h2 {
  margin-top: 1em;
  color: #000;
}

.get-involved--link-icon {
  max-height: 200px;
  max-width: 200px;
  margin-top: 0.75em;
}

.get-involved--link-icon:hover {
  animation: wobble 1.5s steps(60) 1;
  filter: drop-shadow( 0px 0px 5px #000)
}

.get-involved--link-container {
  margin-top: 1em;
  background-color: #fff;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }
  .no-js .title-bar {
    display: none;
  }
}

@media screen and (max-width: 39.9375em) {
  .mission, .get-involved h1, .elves-in-action h1{
    font-size: 4em;
  }
  .mission-sub {
    font-size: 2.5em;
  }
}

/* CSS motion effects*/

@keyframes wobble {
  0% {
    transform: rotate(0turn);
    filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, 0.5))
  }
  10% {
    transform: rotate(0.1turn) scale(1.1, 1.1);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, 0.5))
  }
  20% {
    transform: rotate(0.0turn);
    filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, 0.5))
  }
  30% {
    transform: rotate(-0.1turn);
    filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, 0.5))
  }
  40% {
    transform: rotate(0.0turn) scale(0.9, 0.9)
  }
  50% {
    transform: rotate(0.1turn)
  }
  60% {
    transform: rotate(0.0turn)
  }
  70% {
    transform: rotate(-0.1turn) scale(1.1, 1.1);
    filter: drop-shadow( 0px 0px 10px #000)
  }
  80% {
    transform: rotate(0.0turn);
  }
  90% {
    transform: rotate(0.5turn);
  }
  100% {
    transform: rotate(1turn);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, 0.5))
  }
}